{% extends './header.html' %}

{% block body_block %}
<div class="container">
<h4>Employee Signup form</h4>
Please fill the form:
<form action='emp_signup' method="POST">
    {% csrf_token %}
    {% for field in form1 %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
    {% endfor %}
    <input type="submit" class="btn btn-primary" value='Submit'/>
</form>
</div>
{% endblock %}